<div class="contact-us">
    <p class="heading heading-center">Get In Touch</p>

    <div class="cu-details">
        
        <div class="cud-item">
            <div class="cudi-header">Help Desk</div>    
            <div class="cudi-text"><a class="link" href="tel:0823857231">082 385 7231</a></div>     
        </div>

        <div class="cud-item">
            <div class="cudi-header">Information</div>    
            <div class="cudi-text"><a class="link" href="mailto:crazymonkeygarage20@gmail.com">crazymonkeygarage20@gmail.com</a></div>    
        </div>
    
        <div class="cud-item">
            <div class="cudi-header">Jaco Surname</div>        
            <div class="cudi-text"><a class="link" href="tel:0729657029">072 965 7029</a></div>    
        </div>  

    </div>

    <div class="cu-details">
        
        <div class="cud-item">
            <div class="cudi-header">Head Office</div>    
            <div class="cudi-text">
                <a  class="link"
                    target="_blank" 
                    href="https://www.google.com/maps/place/427+Botha+Ave,+Kloofsig,+Centurion,+0157/@-25.809783,28.20274,17z/data=!3m1!4b1!4m5!3m4!1s0x1e9563fd9a7e61bb:0xaf6d177571715cd1!8m2!3d-25.809787!4d28.204928">427 Botha Avenue, Kloofsig, Centurion</a>
            </div>     
        </div>

        <div class="cud-item">
            <div class="cudi-header">Working Days</div>    
            <div class="cudi-text">Monday to Friday</div>    
        </div>

        <div class="cud-item">
            <div class="cudi-header">Operating Hours</div>    
            <div class="cudi-text">07:00 AM - 07:00 PM </div>    
        </div>

    </div>

</div>