@import '../../../../style/style-utils.less';

.home-about {

    .home-a-cards-l,
    .home-a-cards-s,
    .home-a-header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .home-a-cards-l,
    .home-a-cards-s {
        padding: 20px;
        nz-card {
            margin: 20px;
        }
    }

    .home-a-cards-s {
        display: none;
    }

    .home-a-header {
        padding: 10px;
        div {
            font-size: 28px;
            text-align: center;
            font-family: @font-main;
            span {
                font-family: @font-logo;
                text-shadow: 2px 2px @silver;
            }
        }
    }

}

::ng-deep {
    .ant-card-meta-title {
        font-family: @font-main;
    }

    .ant-card-meta-description {
        font-family: @font-second;
    }
}


@media only screen and (max-width: 500px) {
.home-about {
    box-shadow: 1px 1px 40px 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 1px 1px 40px 10px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 40px 10px rgba(0,0,0,0.5);

    ::ng-deep {
        .ant-card {
            border: 1px solid transparent;
            width: 200px !important;
        }
        .ant-card-body {
            padding: 10px;
        }
    }

    .home-a-cards-l {
        display: none;
    }

    .home-a-cards-s {
        display: flex;
        justify-content: center;
        nz-card {
            margin: 10px;
        }
    }

    .shadow-around {
        box-shadow: 1px 1px 40px 10px rgba(0,0,0,0);
        -webkit-box-shadow: 1px 1px 40px 10px rgba(0,0,0,0);
        -moz-box-shadow: 1px 1px 40px 10px rgba(0,0,0,0);
    }

}}  