<div class="home-jumbotron">

    <div class="home-j-figure">
        <picture class="figure-jumbotron">
            <source media="(min-width: 900px)" srcset="../../../../../assets/images/home-jumbotron-m.jpg">
            <source media="(min-width: 500px)" srcset="../../../../../assets/images/home-jumbotron-s.jpg">
            <img src="../../../../../assets/images/home-jumbotron-l.jpg" alt="Bicanski Image loading">
            <figcaption>Photo by <a class="link-external" href="https://pixnio.com/media/gear-machinery-mechanic-mechanical-mechanism"> Bicanski</a> on <a href="https://pixnio.com/">Pixnio</a></figcaption>
        </picture>
       
    </div>
    
    <div class="home-j-text">
        <p>We bring crazy fast hands to your vehicle, inside and out.</p>
    </div>

</div>




 <!-- <figure class="figure-jumbotron">
            <img src="../../../assets/images/home-jumbotron.jpg" alt="Figure under construction" style="width:100%">
            <figcaption>Photo by <a href="https://stocksnap.io/author/savvas511" class="link-external">Savvas Stavrinos</a></figcaption> -->
                <!-- Photo by <a href="https://pixnio.com/media/gear-machinery-mechanic-mechanical-mechanism"> Bicanski</a> on <a href="https://pixnio.com/">Pixnio</a> -->
                <!-- Photo by <a href="https://stocksnap.io/author/savvas511">Savvas Stavrinos</a> from <a href="https://stocksnap.io">StockSnap</a> -->
        <!-- </figure> -->