<div class="home-jumbotron">

    <div class="home-j-figure">
        <picture class="figure-jumbotron">
            <source media="(min-width: 900px)" srcset="../../../../../assets/images/home-jumbotron-m.jpg">
            <source media="(min-width: 500px)" srcset="../../../../../assets/images/home-jumbotron-s.jpg">
            <img src="../../../../../assets/images/home-jumbotron-l.jpg" alt="Bicanski Image loading">
            <figcaption>Photo by <a class="link-external" href="https://pixnio.com/media/gear-machinery-mechanic-mechanical-mechanism"> Bicanski</a> on <a href="https://pixnio.com/">Pixnio</a></figcaption>
        </picture>
    </div>
    
    <div class="home-j-text">
        <p>We bring crazy fast hands to your vehicle, inside and out.</p>
    </div>

</div>
