<div class="home-jumbotron">

    <div class="home-j-figure">
        <figure class="figure-jumbotron">
            <img src="../../../assets/images/home-jumbotron.jpg" alt="Figure under construction" style="width:100%">
            <figcaption>Photo by <a href="https://stocksnap.io/author/savvas511" class="link-external">Savvas Stavrinos</a></figcaption>
                <!-- Photo by <a href="https://stocksnap.io/author/savvas511">Savvas Stavrinos</a> from <a href="https://stocksnap.io">StockSnap</a> -->
        </figure>
    </div>
    
    <div class="home-j-text">
        <p>We bring crazy fast hands to your vehicle, inside and out.</p>
    </div>

</div>