<div class="home-contact">
    
    <div class="home-c-container shadow-around">

        <div class="home-c-header">
            <div>Get in Touch</div>
        </div>

        <div class="home-c-content">
            
            <div class="home-cc-row">
                <div class="home-cc-row-head">Help Desk</div>
                <div class="home-cc-row-text"><a class="link" href="tel:0823857231">082 385 7231</a></div>
            </div>

            <div class="home-cc-row">
                <div class="home-cc-row-head">Information</div>
                <div class="home-cc-row-text"><a class="link" href="mailto:crazymonkeygarage20@gmail.com">crazymonkeygarage20@gmail.com</a></div>
            </div>

            <div class="home-cc-row">
                <div class="home-cc-row-head">Jaco Thompson</div>
                <div class="home-cc-row-text"><a class="link" href="tel:0729657029">072 965 7029</a></div>
            </div>

            <div class="home-cc-row">
                <div class="home-cc-row-head">Head Office</div>
                <div class="home-cc-row-text">
                    <a  class="link"
                    target="_blank" 
                    href="https://www.google.com/maps/place/427+Botha+Ave,+Kloofsig,+Centurion,+0157/@-25.809783,28.20274,17z/data=!3m1!4b1!4m5!3m4!1s0x1e9563fd9a7e61bb:0xaf6d177571715cd1!8m2!3d-25.809787!4d28.204928">427 Botha Avenue, Kloofsig, Centurion</a>
                </div>
            </div>

            <div class="home-cc-row">
                <div class="home-cc-row-head">Working Days</div>
                <div class="home-cc-row-text">Monday to Saturday</div>
            </div>

            <div class="home-cc-row">
                <div class="home-cc-row-head">Operating Hours</div>
                <div class="home-cc-row-text">07:00 AM - 07:00 PM</div>
            </div>

        </div>

    </div>

</div>
