<div class="home-ww">

    <div class="home-ww-photo shadow-around">
        <picture class="figure-jumbotron">
            <img src="../../../../../assets/jaco/jaco.png" alt="Jaco Image loading">
            <figcaption>Photo of Jaco Thompson</figcaption>
        </picture>
    </div>

    <div class="home-ww-text">
        <div>Who is <span>Crazy Monkey Garage SA</span></div>
        <p>
            Crazy Monkey Garage (CMG) SA was founded in 2018 by Mr. Jaco Thompson and has since become a name well known for its great service and affordable prices.   
        </p>
        <p>
            At CMG SA every client receives service personally from Jaco himself, making each client feel like they a part of the family. This sets CMG SA apart from major competitors and gives a welcome atmosphere to the entire business.
        </p>
        <p>
            Working with CMG SA you will not only find great service that is centrally located, personal and professional service, fast lead times that are cost-effective and that are competitive, years of service within the industry, and CMG SA only sources quality products from well established and well-known vendors.
        </p>
        <p>
            CMG SA offers various services from major to minor vehicle services of vehicles, to lift kits, and even project vehicles. For a more extensive list of our services please refer to our services section.
        </p>
    </div>

    

</div>