<div class="home-why-us">
    <div class="home-w-content">
        <p class="heading heading-center">Why Crazy Monkey Garage SA</p>

        <nz-card style="width:300px;" nzTitle="Centrally Located">
            <figure class="figure">
                <img src="../../../assets/images/home-experience.jpg" alt="Experience being gained" style="width:100%">
            </figure>
        </nz-card>

        <nz-card style="width:300px;" nzTitle="Professional Service">
            <figure class="figure">
                <img src="../../../assets/images/home-professional.jpg" alt="Experience being gained" style="width:100%">
            </figure>
        </nz-card>

        <nz-card style="width:300px;" nzTitle="Fast Lead Times">
            <figure class="figure">
                <img src="../../../assets/images/home-experience.jpg" alt="Experience being gained" style="width:100%">
            </figure>
        </nz-card>

        <nz-card style="width:300px;" nzTitle="Cost Effective">
            <figure class="figure">
                <img src="../../../assets/images/home-cost-save.jpg" alt="Saving Costs" style="width:100%">
            </figure>
        </nz-card>

        <nz-card style="width:300px;" nzTitle="Years of Experience">
            <figure class="figure">
                <img src="../../../assets/images/home-experience.jpg" alt="Experience being gained" style="width:100%">
            </figure>
        </nz-card>

        <nz-card style="width:300px;" nzTitle="Quality Parts">
            <figure class="figure">
                <img src="../../../assets/images/home-quality.jpg" alt="Parts being ordered" style="width:100%">
            </figure>
        </nz-card>

    </div>
</div>