<p class="heading heading-center">Before and After <a href="gallery" class="link">Gallery</a></p>

<div class="gallery">
    
    <div class="gallery-image">
        <figure class="figure">
            <img src="../../../assets/images/bf-af.jpg" alt="Figure under construction" style="width:100%">
            <figcaption>Before and After of Volvo Soewthing</figcaption>
        </figure>
    </div>

    <div class="gallery-image">
        <figure class="figure">
            <img src="../../../assets/images/bf-af.jpg" alt="Figure under construction" style="width:100%">
            <figcaption>Before and After of Volvo Soewthing</figcaption>
        </figure>
    </div>

    <div class="gallery-image">
        <figure class="figure">
            <img src="../../../assets/images/bf-af.jpg" alt="Figure under construction" style="width:100%">
            <figcaption>Before and After of Volvo Soewthing</figcaption>
        </figure>
    </div>

    <div class="gallery-image">
        <figure class="figure">
            <img src="../../../assets/images/bf-af.jpg" alt="Figure under construction" style="width:100%">
            <figcaption>Before and After of Volvo Soewthing</figcaption>
        </figure>
    </div>

</div>