<div class="footer-map">
    
    <picture class="figure-map">
        <a href="https://www.google.com/maps/place/427+Botha+Ave,+Kloofsig,+Centurion,+0157/@-25.809783,28.20274,17z/data=!3m1!4b1!4m5!3m4!1s0x1e9563fd9a7e61bb:0xaf6d177571715cd1!8m2!3d-25.809787!4d28.204928">
            <img src="../../../../assets/map/map.jpg" alt="Map Routing Image">
        </a>
        <figcaption>Offices at 
            <a class="link" 
                href="https://www.google.com/maps/place/427+Botha+Ave,+Kloofsig,+Centurion,+0157/@-25.809783,28.20274,17z/data=!3m1!4b1!4m5!3m4!1s0x1e9563fd9a7e61bb:0xaf6d177571715cd1!8m2!3d-25.809787!4d28.204928">427 Botha Avenue, Kloofsig, Centurion</a>
        </figcaption>
    </picture>

</div>