<div class="footer">

    <div class="footer-top">

        <div class="footer-container footer-git">
            <div class="f-head"><p>Get in Touch</p></div>
            <div><app-footer-contact-us></app-footer-contact-us></div>
        </div>

        <div class="footer-container footer-services">
            <div class="f-head"><p>Services</p></div>
            <div><app-footer-services></app-footer-services></div>
        </div>

        <div class="footer-container footer-links">
            <div class="f-head"><p>Quick Links</p></div>
            <div><app-footer-links></app-footer-links></div>
        </div>

    </div>

    <div class="footer-bottom">

        <div class="footer-disclaimer">
            <p>&copy; Copyright 2021 &trade; | Crazy Monkey Garage South Africa (PTY) Ltd</p>
        </div>

    </div>

</div>