<div class="footer">

    <div class="footer-top">

        <div class="footer-container footer-git shadow-around">
            <div class="f-head"><p>Get in Touch</p></div>
            <div class="f-content"><app-footer-contact-us></app-footer-contact-us></div>
        </div>

        <div class="footer-container footer-services shadow-around">
            <div class="f-head"><p>Where to find us</p></div>
            <app-footer-map></app-footer-map>
        </div>
<!-- 
        <div class="footer-container footer-links shadow-around">
            <div class="f-head"><p>Quick Links</p></div>
        </div> -->

    </div>

    <div class="footer-bottom">

        <div class="footer-disclaimer">
            <p>&copy; Copyright 2021 &trade; |<span> Crazy Monkey Garage South Africa </span>(PTY) Ltd</p>
        </div>

    </div>

</div>